.col-md-2 flexwrap{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
	box-sizing: border-box;
	flex-wrap: wrap;
	border: green;
}

.dishImage{
	max-width: 20%;
	min-height: 10%;
}
.flexbox{
    display:flex;

}

#genreDiv {
    padding-top: 2em;
    background-color: #F7F5EF;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

#searchDiv {
    min-height: 900px;
}

#search {
    display: flex;
    align-items: center;
    padding: 50px 5px 50px 15px;
}

input {

    height: 30px;

}
button {
    height: 30px;
    background-color: #1F1A38;
    color: white;

}
